ion-button {
    --background: #33cd5f;
}

a {
    color: blue;
}

.new-background-color {
    color: #fff;
    --background: #33cd5f;
}

.signup {
    --text-align: center;
    --display: block;
    float: center;
}

p {
    float: right;
    color: #33cd5f
}