h2 {
    text-align: center;
    display: block;
    color: #33cd5f;
}

.new-background {
    color: #fff;
    // --background: #33cd5f;
}

.logo {
    float: right;
}

ion-content {
    --background: url('../../../assets/img/priorite_environnement_bkg.jpg');
    color: #fff;
}