<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title>GustoCoffee</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <h2>
            gustocoffe vous souhaite la bienvenue dans votre espace personnel.Essayez de trouver les options disponibles via le menu situé dans le coin gauche.</h2>
    </ion-card>
</ion-content>



<!-- <ion-menu side="start" menuId="first">
    <ion-header>
        <ion-toolbar color="green">
            <button ion-button menuToggle>Toggle Menu</button>
             <button ion-button menuToggle="right">Toggle Right Menu</button> 
            <!-- <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>Accueil</ion-item>
            <ion-item>Mes Commandes</ion-item>
            <ion-item>Reservation</ion-item>
            <ion-item>Mes Information</ion-item>
            <ion-item>Déconnexion</ion-item>
        </ion-list>
    </ion-content>
</ion-menu> -->