<ion-header>
    <ion-toolbar>
        <ion-title>
            Accueil
        </ion-title>
        <div text-right>
            <ion-button size="small" href="/login">Sign in</ion-button>
            <ion-button size="small" href="/register">Sign up</ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../../assets/img/gusto_coffee.png">
    <ion-card>
        <img src="../../assets/img/picto1.png">
        <ion-card-title>Coworking</ion-card-title>
        <ion-card-content>
            un espace de travail partagé, et un réseau de travailleurs encourageant l'échange et l'ouverture aux autres.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="../../assets/img/picto2.png">
        <ion-card-title>
            Restauration
        </ion-card-title>
        <ion-card-content>
            Nous servons des plats préparés et des boissons à consommer sur place, en échange de paiement.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="../../assets/img/picto3.png">
        <ion-card-title>
            Services bureautiques
        </ion-card-title>
        <ion-card-content>
            Il vous sera possible de reserver des services de bureautique tel que de l'impression, du stockage en ligne.
        </ion-card-content>
    </ion-card>
</ion-content>